.discount__card
  &:first-child
    border-color: var(--accent-card-border-color)
    border-width: 1px
    border-style: solid
    background-color: var(--accent-card-bg-color)
    color: var(--accent-card-fg-color)

.discount__content
  --dummy: pass