.team__card
  display: grid
  grid-row: 1/4
  grid-template-rows: subgrid
  grid-template-columns: 1fr
  border: 1px solid var(--border-color)
  border-radius: 33px
  padding: 33px
  background-color: var(--les-color-white)
  color: var(--les-color-black)

.team__img
  border-radius: 50%
  width: 200px
  aspect-ratio: auto 200 / 200

.team__title
  display: grid

.team__name
  text-transform: uppercase
  font-weight: 600

.team__job
  text-transform: lowercase
  &:first-letter
    text-transform: uppercase
  font-weight: 600
  font-size: 0.7em
  color: var(--les-color-additional-gray)

.team__notes
  font-weight: 500

