$card-border-radius: 33px
$card-padding: $card-border-radius

.abstract__card
  background-color: var(--card-bg-color)
  color: var(--card-fg-color)
  border-radius: $card-border-radius
  padding: $card-padding
