@use "size-breakpoints"
@use "clear_default"

$card-border-radius: 33px
$card-padding: $card-border-radius
$slide-h-padding: 6em
$slide-v-padding: 6em
$cards-min-width: 200px

.slide
  @include size-breakpoints.from("0", "tablet")
    --grid-template-areas: var(--grid-template-areas-phone, var(--grid-template-areas-all))
  @include size-breakpoints.from("tablet", "desktop")
    --grid-template-areas: var(--grid-template-areas-tablet, var(--grid-template-areas-all))
  @include size-breakpoints.from("desktop", "inf")
    --grid-template-areas: var(--grid-template-areas-desktop, var(--grid-template-areas-all))
  grid-template-areas: var(--grid-template-areas)
  background-color: var(--base-bg-color)
  color: var(--base-fg-color)
  display: grid
  padding: $slide-v-padding $slide-h-padding
  gap: 1.5em
  grid-auto-columns: 1fr
  grid-auto-rows: max-content

.small-vertical-padding
  padding-bottom: $slide-v-padding / 3
  padding-top: $slide-v-padding / 3

.align-center
  justify-self: center
  align-self: center
.align-left
  justify-self: left
  align-self: center
.align-right
  justify-self: right
  align-self: center

.slide--center-all
  &>*
    justify-self: center
  &>.slide__background
    justify-self: normal

.slide__header
  grid-area: var(--grid-area)
  text-align: left
  font-weight: 700
  line-height: 100%
h1.slide__header
  font-size: 40px
h2.slide__header
  font-size: 25px
  color: var(--base-fg-color)
h3.slide__header
  font-size: 20px
  color: var(--base-fg-color)


.slide__content
  grid-area: var(--grid-area)
  font-size: 19px
  font-weight: 400
  line-height: 130%
  margin: 0

.slide__disclaimer
  grid-area: var(--grid-area)
  font-size: 14px
  line-height: 100%
  margin: 0
  padding: 20px
.slide__overflow-img
  @include size-breakpoints.from("0", "tablet")
    --slide-overflow-img-overflow-top: var(--slide-overflow-img-phone-overflow-top, 0)
    --slide-overflow-img-overflow-right: var(--slide-overflow-img-phone-overflow-right, 0)
    --slide-overflow-img-overflow-bottom: var(--slide-overflow-img-phone-overflow-bottom, 0)
    --slide-overflow-img-overflow-left: var(--slide-overflow-img-phone-overflow-left, 0)
    --slide-overflow-img-width: var(--slide-overflow-img-phone-width, 0)
    --slide-overflow-img-position-x: var(--slide-overflow-img-phone-position-x, 0)
    --slide-overflow-img-position-y: var(--slide-overflow-img-phone-position-y, 0)
  @include size-breakpoints.from("tablet", "desktop")
    --slide-overflow-img-overflow-top: var(--slide-overflow-img-tablet-overflow-top, 0)
    --slide-overflow-img-overflow-right: var(--slide-overflow-img-tablet-overflow-right, 0)
    --slide-overflow-img-overflow-bottom: var(--slide-overflow-img-tablet-overflow-bottom, 0)
    --slide-overflow-img-overflow-left: var(--slide-overflow-img-tablet-overflow-left, 0)
    --slide-overflow-img-width: var(--slide-overflow-img-tablet-width, 0)
    --slide-overflow-img-position-x: var(--slide-overflow-img-tablet-position-x, 0)
    --slide-overflow-img-position-y: var(--slide-overflow-img-tablet-position-y, 0)
  @include size-breakpoints.from("desktop", "inf")
    --slide-overflow-img-overflow-top: var(--slide-overflow-img-desktop-overflow-top, 0)
    --slide-overflow-img-overflow-right: var(--slide-overflow-img-desktop-overflow-right, 0)
    --slide-overflow-img-overflow-bottom: var(--slide-overflow-img-desktop-overflow-bottom, 0)
    --slide-overflow-img-overflow-left: var(--slide-overflow-img-desktop-overflow-left, 0)
    --slide-overflow-img-width: var(--slide-overflow-img-desktop-width, 0)
    --slide-overflow-img-position-x: var(--slide-overflow-img-desktop-position-x, 0)
    --slide-overflow-img-position-y: var(--slide-overflow-img-desktop-position-y, 0)
  grid-area: var(--grid-area)
  position: relative
  margin: var(--slide-overflow-img-overflow-top, 0) var(--slide-overflow-img-overflow-right, 0) var(--slide-overflow-img-overflow-bottom, 0) var(--slide-overflow-img-overflow-left, 0)
  box-sizing: border-box
  min-height: 0
  min-width: 0
  overflow: clip

.overflow-img__container
  display: flex
  overflow: visible
  justify-content: center
  &>img
    object-position: var(--slide-overflow-img-position-x, 0) var(--slide-overflow-img-position-y, 0)
    width: var(--slide-overflow-img-width)

.slide__button
  grid-area: var(--grid-area)

  background: var(--bg-color)
  color: var(--fg-color)
  font-size: 24px
  text-transform: uppercase
  font-weight: 700
  line-height: 100%
  padding: 15px 40px
  border: 1px solid var(--br-color)
  border-radius: 11px
  text-align: center
  height: fit-content

.slide__card
  grid-area: var(--grid-area)
  background-color: var(--card-bg-color)
  color: var(--card-fg-color)
  border-radius: $card-border-radius
  padding: $card-padding
  height: fit-content
  font-weight: 700
  line-height: 140%
  font-size: 19px

.slide__cards
  grid-area: var(--grid-area)
  @include size-breakpoints.from("0", "tablet")
    --slide-cards-num-cols: var(--slide-cards-cols-phone, 1)
  @include size-breakpoints.from("tablet", "desktop")
    --slide-cards-num-cols: var(--slide-cards-cols-tablet, 2)
  @include size-breakpoints.from("desktop", "inf")
    --slide-cards-num-cols: var(--slide-cards-cols-desktop, 4)

  display: grid
  grid-template-columns: repeat(var(--slide-cards-num-cols), minmax($cards-min-width, 1fr))
  gap: 1rem

.masonry__column
  display: flex
  flex-direction: column
  min-width: 0
  &>div
    margin-bottom: var(--masonry--gap)
    &:last-child
      margin-bottom: 0

.slide__subslides
  grid-area: var(--grid-area)

.slide__slider
  grid-area: var(--grid-area)
  --slider--gap: 10px
  display: grid

  grid-row-gap: var(--slider--gap)

  @include size-breakpoints.from("0", "tablet")
    --slider--visible-slides: var(--slider-visible-slides-phone, 1)
  @include size-breakpoints.from("tablet", "desktop")
    --slider--visible-slides: var(--slider-visible-slides-tablet, 2)
  @include size-breakpoints.from("desktop", "inf")
    --slider--visible-slides: var(--slider-visible-slides-desktop, 3)
.slider__content
  /* Math... */
  --slider--slide-width: calc((100% - (var(--slider--visible-slides) - 1) * var(--slider--gap)) / var(--slider--visible-slides))

  /* Put it all together! */
  display: grid
  grid-auto-flow: column
  grid-auto-columns: var(--slider--slide-width)
  grid-gap: var(--slider--gap)
  overflow-x: scroll
  overflow-y: hidden
  list-style: none
  scroll-snap-type: x mandatory
  overscroll-behavior: auto
  scrollbar-width: none
  margin: 0

.slider__controls
  padding-top: var(--slider-masonry--gap)
  display: flex
  justify-content: center

.slider__button
  color: var(--card-fg-color)
  background-color: var(--card-bg-color)
  margin-right: calc(var(--slider--gap) / 2)
  margin-left: calc(var(--slider--gap) / 2)
  width: 3em
  height: 3em
  border-radius: 50%
  border: none
  cursor: pointer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-weight: bold
  &:hover
    background-color: var(--card-bg-color-hover)
    color: var(--card-fg-color-hover)

.slider__button--clicked
  &:after
    content: ''
    display: block
    background-color: var(--card-fg-color)
    height: 4px
    width: 4px
    border-radius: 50%

.slide__link
  grid-area: var(--grid-area)

.slide__img
  grid-area: var(--grid-area)
  width: var(--img-width)
  height: var(--img-height)

.slide__background
  grid-column: 1/-1
  grid-row: 1/-1
  height: 100vh
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  background-attachment: fixed