{{ sass("common/styles/slide.sass") }}

<div {% if data.id %}id="{{ data.id }}"{{ push_to_array("menu", data.id) }}{% endif %}
    class="slide les-theme-card-beige {{ data.theme }}"
    style='
        --grid-template-areas-all: {{ data.grid }};
        {% if data.grid.phone %}--grid-template-areas-phone: {{ data.grid.phone }}{% endif %};
        {% if data.grid.tablet %}--grid-template-areas-tablet: {{ data.grid.tablet }}{% endif %};
        {% if data.grid.desktop %}--grid-template-areas-desktop: {{ data.grid.desktop }}{% endif %};

        {% if data.styles %}
        {% for k in data.styles %}
        {{ k }}: {{ data.styles[k] }};
        {% endfor %}
        {% endif %}
    '>

    {% if data.background %}
    <div
        class="slide__element slide__background {{ data.background.theme }}"
        style="background-image: url({{ static(data.background) }});">

    </div>
    {% endif %}

    {% if data.header %}
    {% set collection = data("header") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    <h{% if element.level %}{{ element.level }}{% else %}1{% endif%}
        class="slide__element slide__header {{ element.theme }}"
        style='
            --grid-area: header{% if len != 1 %}-{{ count }}{% endif %}
            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
        '>

        {% if element.preimage %}
        <img src="{{ static(element.preimage) }}">
        {% endif %}
        <span>{{ element }}</span>
        {% if element.postimage %}
            <img src="{{ static(element.postimage) }}">
        {% endif %}
    </h{% if element.level %}{{ element.level }}{% else %}1{% endif%}>
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}

    {% if data.content %}
    {% set collection = data("content") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    <div
        class="slide__element slide__content {{ element.theme }}"
        style='
            --grid-area: content{% if len != 1 %}-{{ count }}{% endif %}
            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
        '>
        {{ element }}
    </div>
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}

    {% if data.img %}
    {% set collection = data("img") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    <img
        src="{{ static(element) }}"
        class="slide__element slide__img {{ element.theme }}"
        style='
            --grid-area: img{% if len != 1 %}-{{ count }}{% endif %};
            {% if element.width %}--img-width: {{ element.widht }};{% endif %}
            {% if element.height %}--img-height: {{ element.height }};{% endif %}
            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
        '>
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}

    {% if data.disclaimer %}
    {% set collection = data("disclaimer") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    <div
        class="slide__element slide__disclaimer {{ element.theme }}"
        style='
            --grid-area: disclaimer{% if len != 1 %}-{{ count }}{% endif %};
            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
        '>
        {{ element }}
    </div>
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}

    {% if data.card %}
    {% set collection = data("card") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    <div
        class="slide__element slide__card {{ element.theme }}"
        style='
            --grid-area: card{% if len != 1 %}-{{ count }}{% endif %};
            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
        '>
        <div class="card__content">
            {{ element }}
        </div>
    </div>
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}

    {% if data.cards %}
    {% set collection = data("cards") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    <div
        class="slide__element slide__cards {{ element.theme }}"
        style='
            --grid-area: cards{% if len != 1 %}-{{ count }}{% endif %};
            {% if element.cols %}
            {% if element.cols.desktop %}--slide-cards-cols-desktop: {{ element.cols.desktop }};{% endif %}
            {% if element.cols.tablet %}--slide-cards-cols-tablet: {{ element.cols.tablet }};{% endif %}
            {% if element.cols.phone %}--slide-cards-cols-phone: {{ element.cols.phone }};{% endif %}
            {% endif %}
            '>
        {{ blocks(element, element.template) }}
    </div>
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}

    {% if data.button %}
    {% set collection = data("button") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    <a
        target="blank"
        href="{{ element.link }}"
        class="slide__element slide__button {{ element.theme }}"
        style='
            --grid-area: button{% if len != 1 %}-{{ count }}{% endif %};

            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
        '>
        {{ element }}
    </a>
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}

    {% if data["overflow-img"] %}
    {% set collection = data("overflow-img") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    <div
        class="slide__element slide__overflow-img {{ element.theme }}"
        style='
            --grid-area: overflow-img{% if len != 1 %}-{{ count }}{% endif %};
            {% if element.phone %}
            {% if element.phone.width %}--slide-overflow-img-phone-width: {{ element.phone.width }}{% endif %};
            {% if element.phone.overflow %}
            {% if element.phone.overflow.left %}--slide-overflow-img-phone-overflow-left: -{{ element.phone.overflow.left }}{% endif %};
            {% if element.phone.overflow.top %}--slide-overflow-img-phone-overflow-top: -{{ element.phone.overflow.top }}{% endif %};
            {% if element.phone.overflow.right %}--slide-overflow-img-phone-overflow-right: -{{ element.phone.overflow.right }}{% endif %};
            {% if element.phone.overflow.bottom %}--slide-overflow-img-phone-overflow-bottom: -{{ element.phone.overflow.bottom }}{% endif %};
            {% endif %}
            {% if element.phone.position %}
            {% if element.phone.position.x %}--slide-overflow-img-phone-position-x: {{ element.phone.position.x }}{% endif %};
            {% if element.phone.position.y %}--slide-overflow-img-phone-position-y: {{ element.phone.position.y }}{% endif %};
            {% endif %}
            {% endif %}
            {% if element.tablet %}
            {% if element.tablet.width %}--slide-overflow-img-tablet-width: {{ element.tablet.width }}{% endif %};
            {% if element.tablet.overflow %}
            {% if element.tablet.overflow.left %}--slide-overflow-img-tablet-overflow-left: -{{ element.tablet.overflow.left }}{% endif %};
            {% if element.tablet.overflow.top %}--slide-overflow-img-tablet-overflow-top: -{{ element.tablet.overflow.top }}{% endif %};
            {% if element.tablet.overflow.right %}--slide-overflow-img-tablet-overflow-right: -{{ element.tablet.overflow.right }}{% endif %};
            {% if element.tablet.overflow.bottom %}--slide-overflow-img-tablet-overflow-bottom: -{{ element.tablet.overflow.bottom }}{% endif %};
            {% endif %}
            {% if element.tablet.position %}
            {% if element.tablet.position.x %}--slide-overflow-img-tablet-position-x: {{ element.tablet.position.x }}{% endif %};
            {% if element.tablet.position.y %}--slide-overflow-img-tablet-position-y: {{ element.tablet.position.y }}{% endif %};
            {% endif %}
            {% endif %}
            {% if element.desktop %}
            {% if element.desktop.width %}--slide-overflow-img-desktop-width: {{ element.desktop.width }}{% endif %};
            {% if element.desktop.overflow %}
            {% if element.desktop.overflow.left %}--slide-overflow-img-desktop-overflow-left: -{{ element.desktop.overflow.left }}{% endif %};
            {% if element.desktop.overflow.top %}--slide-overflow-img-desktop-overflow-top: -{{ element.desktop.overflow.top }}{% endif %};
            {% if element.desktop.overflow.right %}--slide-overflow-img-desktop-overflow-right: -{{ element.desktop.overflow.right }}{% endif %};
            {% if element.desktop.overflow.bottom %}--slide-overflow-img-desktop-overflow-bottom: -{{ element.desktop.overflow.bottom }}{% endif %};
            {% endif %}
            {% if element.desktop.position %}
            {% if element.desktop.position.x %}--slide-overflow-img-desktop-position-x: {{ element.desktop.position.x }}{% endif %};
            {% if element.desktop.position.y %}--slide-overflow-img-desktop-position-y: {{ element.desktop.position.y }}{% endif %};
            {% endif %}
            {% endif %}

            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
        '>
        <div class="overflow-img__container">
            <img src="{{ static(element) }}">
        </div>
    </div>
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}

    {% if data.subslides %}
    {% set collection = data("subslides") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    {% if element and element.template %}
    <div
        class="slide__element slide__subslides {{ element.theme }}"
        style='
            --grid-area: subslides{% if len != 1 %}-{{ count }}{% endif %};

            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
        '>
        {{ blocks(element, element.template) }}
    </div>
    {% endif %}
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}

    {% if data.slider %}
    {% set collection = data("slider") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    {% if element and element.template %}
    <div
        class="slide__element slide__slider {{ element.theme }}"
        data-slider="active"
        style='
            --grid-area: slider{% if len != 1 %}-{{ count }}{% endif %};
            {% if element.count %}
            {% if element.count.phone %}--slider-visible-slides-phone: {{ element.count.phone }};{% endif %}
            {% if element.count.tablet %}--slider-visible-slides-tablet: {{ element.count.tablet }};{% endif %}
            {% if element.count.desktop %}--slider-visible-slides-desktop: {{ element.count.desktop }};{% endif %}
            {% endif %}

            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
        '>
        <div class="slider__content{% if element.class %}{% for c in element("class") %} {{ c }}{% endfor %}{% endif %}"
        {% if element.attrs %}{% for k in element.attrs %}{{ k }}="{{ element.attrs[k] }}"{% endfor %}{% endif %}
        >
            {{ blocks(element, element.template) }}
        </div>
        <div class="slider__controls">
        </div>
    </div>
    {% endif %}
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}


    {% if data.link %}
    {% set collection = data("link") %}
    {% set len = collection | length %}
    {% set count = 1 %}
    {% for element in collection %}
    <a
        href="{{ element.url }}"
        class="slide__element slide__link {{ element.theme }}"
        style='
            --grid-area: link{% if len != 1 %}-{{ count }}{% endif %};

            {% if element.styles %}
            {% for k in element.styles %}
            {{ k }}: {{ element.styles[k] }};
            {% endfor %}
            {% endif %}
            '
        {% if element.onclick %}onclick="{{ element.onclick }}"{% endif %}
        >
        {{ element }}
    </a>
    {% set count = count + 1 %}
    {% endfor %}
    {% endif %}
</div>