@use "constants"

.slide__card
  background-color: var(--card-bg-color)
  color: var(--card-fg-color)
  border-radius: constants.$card-border-radius
  padding: constants.$card-padding
  height: fit-content
  font-weight: 700
  line-height: 140%
  font-size: 19px
