.font-reset
  font-size: 1rem

.font-smaller
  font-size: 0.7em

.font-larger
  font-size: 1.3em

.some-other-fonts
  font-size: 14px
  font-size: 16px
  font-size: 19px
  font-size: 20px
  font-size: 24px
  font-size: 25px
  font-size: 40px